.title-slide {
  background-color: #fff;
  color: #000;
  background-image: url(CU_logo.jpeg);
	background-position: center bottom 30px;
	background-size: 15%;
	text-shadow: 0 0 20px #fff
}

.title-slide h1, .title-slide h2, .title-slide h3 {
  color: #000;
}

.small { 
  padding-top: 20px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 25px;
  font-size: 70%; }

.large { font-size: 140%; }

.pull-left-code {
  float: left;
  width: 57%;
}

.pull-right-plot {
  float: right;
  width: 37%;
}


